In [1]:
%load_ext autoreload
%autoreload 2

# Use `low_level` API to create `Mojibake` in one column

In [282]:
import pandas as pd

from error_generation.api.low_level import create_errors
from error_generation.error_mechanism import ECAR
from error_generation.error_type import Mojibake

In [283]:
config = {"error_rate": 1.0, "mechanism": ECAR, "error_type": Mojibake}

In [286]:
df_mojibake = pd.DataFrame({"a": [0, 1, 2], "b": ["Ente", "Haus", "Grünfelder Straße 17, 13357 Öppeln"]})

In [288]:
df_corrupted, error_mask = create_errors(df_mojibake, "b", config)

In [290]:
df_corrupted

   a                                   b
0  0                                Ente
1  1                                Haus
2  2  Grã‰¨nfelder Strae 17, 13357 ppeln